body {
  background-color: #121111 !important;
  margin: 0px !important;
  padding: 0px !important;
}
.img-rotation div {
  background-image: url("../src/icones/tesoura.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-width: 50px !important;
  min-height: 50px !important;
  position: absolute!important;
  top: 10px!important;
  animation: rotation-loop 2s infinite;
}
.show-opacity-animation {
  animation: show-opacity 1s;
}
.arrows div:nth-child(2) {
  padding: 0 4rem 0 0;
}
.arrows div:nth-child(1) {
  padding: 0 0 0 4rem;
}
.arrows img {
  background-color: #2e2e53;
  border-radius: 100%;
}
.arrows div div:last-child img:hover {
  background-color: #5757c8;
  transition: background-color 0.2s;
}
.arrows div div:first-child img:hover {
  background-color: #5757c8;
  transition: background-color 0.2s;
}
.arrows div div img {
  cursor: pointer;
}
.arrows {
  position: absolute;
}
.info-content a:hover {
  background-color: #2e2e53;
  border: solid 3px #8080db;
  color: #8080db;
  transition: all 0.3s;
}
.info-content a {
  padding: 0.25rem 2rem;
  background-color: transparent;
  border: solid 3px #8080db;
  color: #8080db;
  border-radius: 10px;
  text-decoration: none !important;
  font-family: "Lalezar", sans-serif, cursive !important;
  font-size: x-large;
}
.info-content div:nth-child(3) {
  font-size: 2.8rem;
  color: #a4a4d3;
  font-family: "Jura", sans-serif !important;
}
.info-content div:nth-child(2) h2 {
  font-family: "Lalezar", sans-serif, cursive !important;
  text-align: center !important;
  color: #8080db;
  font-size: 2.4rem !important;
}
.info-content {
  padding: 0 0.25rem;
  width: 75%;
  height: 75%;
  text-align: center;
}
.selectors-bar {
  position: absolute;
  bottom: 0px !important;
  backdrop-filter: saturate(120%) blur(10px);
}
.selector {
  cursor: pointer;
  margin: 0.5rem 0.25rem;
  border-radius: 100%;
  min-width: 20px !important;
  height: 20px !important;
  border: #8080db solid 1px;
}
.current {
  background-color: #5757c8;
  min-width: 25px !important;
  height: 25px !important;
  animation: check-slide 1s;
}
.blur-blackBrightness {
  backdrop-filter: blur(5px) brightness(40%);
}
.blur {
  backdrop-filter: saturate(180%) blur(10px);
}
.services-content div:last-child a {
  margin: 0.25rem 0.5rem;
}
.slider-content {
  min-height: 480px;
  width: 75% !important;
}
.services-bg {
  position: relative;
  background-image: url(../src/imagens/barbearia.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: local;
  background-repeat: no-repeat;
  width: 100% !important;
  height: 480px;
}
.services-content {
  border: solid 1px #8080db;
}
.items-about h2 {
  margin-bottom: 1rem;
  color: #8080db;
  font-family: "Jura", sans-serif !important;
  font-size: xx-large;
}

.items-about p {
  line-height: 40px;
  color: #a4a4d3;
  font-size: larger;
}
.items-about a {
  text-decoration: none !important;
  color: #a4a4d3;
  animation: blink-loop 1s infinite 2s;
  font-weight: bolder;
}
.items-about {
  width: 75%;
}
.line-caract-about {
  min-width: 40%;
  min-height: 2px;
  background-color: #8080db;
  box-shadow: 0px 2px 5px 0px #8080dbc5;
  animation: wide-loop 3s alternate infinite;
}
.first-img {
  background-image: url(../src/imagens/woman-colored.png);
}
.second-img {
  background-image: url(../src/imagens/man-colored.png);
}
.third-img {
  background-image: url(../src/imagens/hairstyle-colored.png);
}
.content-img div {
  background-size: contain;
  background-position: center;
  background-attachment: local;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}
.content-img {
  background-color: transparent !important;
  min-width: 200px;
  min-height: 300px;
  padding: 2px;
}
.button-desc {
  background-color: none !important;
  border: 1px solid #8080db;
  border-radius: 15px;
}
.button-desc a {
  text-decoration: none !important;
  color: #8080db;
  font-size: larger;
  font-family: "Jura", sans-serif !important;
}
.items-desc p:last-child:after {
  content: none !important;
}
.items-desc p:after {
  content: "|";
  margin: 0 0.5rem;
  animation: top-bottom 1.5s alternate infinite;
}
.items-desc p {
  font-family: "Jura", sans-serif !important;
  color: #a4a4d3;
  font-size: large;
}
.titulo-desc h1 {
  color: #8080db;
  font-family: "Big Shoulders Text", cursive !important;
  font-size: 3.5rem !important;
}
.line {
  height: 2px;
  background-color: #8080db;
}
.menu-fixed {
  top: 0px;
  position: fixed;
  backdrop-filter: saturate(180%) blur(15px) brightness(60%);
  animation: appair-down 0.7s;
}
.menu {
  backdrop-filter: saturate(180%) blur(15px);
  top: 0px;
  animation: show-opacity 1s;
  min-height: 80px;
}
.show {
  display: block !important;
  animation: show-opacity 1s;
}
.hidden {
  display: none !important;
}
.cursor {
  cursor: pointer !important;
}
.bottom-shadow {
  box-shadow: 0px 0.5px 4px #8080db;
}
.links-menu {
  border: solid #8080db 1px;
  border-radius: 10px;
  padding: 0.25rem;
}
.links-menu a:hover {
  color: #5757c8 !important;
  text-decoration: underline !important;
}
.links-menu a {
  cursor: pointer !important;
  padding: 0.25rem 0.3rem;
  margin: 0 0.25rem;
  text-decoration: none !important;
  color: #8080db !important;
  font-family: "Jura", sans-serif !important;
}
.links-menu div:last-child a {
  background-color: none !important;
  border-radius: 12px;
  border: solid 2px #5757c8;
  color: #8080db !important;
  font-family: "Lalezar", sans-serif, cursive !important;
}
.links-menu div {
  margin: 0.3rem 0 !important;
}
.titulo {
  font-size: x-large;
  padding: 0 0.25rem;
  margin: 0 0.4rem;
  text-align: center !important;
  font-family: "Big Shoulders Text", cursive !important;
  font-size: 2.3rem;
}
.txt-lightBlue {
  color: #8080db !important;
}
.footer div:last-child {
  text-align: end;
}
.footer div:first-child {
  text-align: start;
}
.footer div {
  margin: 0 0.25rem;
}
.footer {
  border-top: solid 1px #a4a4d3;
  position: static !important;
  bottom: 0px;
  color: #a4a4d3;
  font-family: "Jura", sans-serif !important;
}
.logo {
  border-radius: 30px;
}
#menu {
  z-index: 1;
}
@keyframes rotation-loop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes check-slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wide-loop {
  0% {
    min-width: 20%;
  }
  100% {
    min-width: 40%;
  }
}

@keyframes blink-loop {
  0% {
    color: #a4a4d3;
  }
  100% {
    color: #5757c8;
  }
}
@keyframes top-bottom {
  0% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 1;
    height: 10px;
  }
}
@keyframes expand-menu {
  0% {
    transform: scaleY(80px);
  }
  100% {
    transform: scaleY(130px);
  }
}

@keyframes appair-down {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes show-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 750px) {
  .img-rotation div{
    top: 10px!important;
  }
  .items-about {
    width: 100%;
  }
  .info-content a {
    padding: 0.25rem 2rem;
    font-size: x-large;
  }
  .info-content div:nth-child(3) {
    font-size: 1.5rem;
  }
  .info-content div:nth-child(2) h2 {
    font-size: 1.5rem;
  }
  .info-content {
    padding: 0 0;
    width: 100%;
  }
  .arrows div:nth-child(2) {
    padding: 0 0.2rem 0 0;
  }
  .arrows div:nth-child(1) {
    padding: 0 0 0 0.2rem;
  }
  .arrows div img {
    max-width: 35px !important;
  }
}
